header {
	background: url("tecnologia1.jpg") no-repeat;
	margin-top: -20px;
	text-align: left;	
}

nav {
	margin-bottom: 50px;
}

header h1 {
	color: #7fff00;
	padding: 2px;
	margin-bottom: 0px;
	padding-top: 15px;

}

.contato {
	margin-top: 50px;
}

header h2 {
	color: rgb(164, 240, 240);
	padding: 2px;
	margin-top: 3px;
	margin-left: 40px;
}

img {
	width: 378px;
	padding-left: 10px;
	padding-bottom: 20px;
}

body {
	background: yellowgreen;
	margin: 0px;
	padding: 0px;
}

div {
	display: inline-block;
	width: 400px;
	height: auto;
	border: solid 1px;
	border-color: grey;
	vertical-align: top;
	margin: 15px;
	padding-left: 10px;
}

table {
	text-align: justify;
	margin: 5px;

}

td {
	text-align: center;
	padding: 5px;
	padding-right: 10px;
}

nav#menu {
	display: block;
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 70px;
	left: -30px;
	text-decoration: none;
}

nav#menu li {
	display: inline-block;
	background-color: rgb(236, 214, 14);
	padding: 7px;
	margin-top: 20px;
	transition: background-color 1s;
	
}

nav#menu li:hover {
	background-color: white;
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: black;
	text-decoration: none;
}

nav#menu a:hover {
	color: blue;
	text-decoration: underline;
}

a {
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

@media  screen and (max-width: 768px) {
	header {
	background: url("tecnologia-med.jpg") no-repeat;
	margin-top: -20px;
	text-align: left;
	}
}

@media  screen and (max-width: 500px) {
	header {
	background: url("tecnologia-peq.jpg") no-repeat;
	margin-top: -20px;
	text-align: left;
	width: auto;
	margin-bottom: 40px;
	}

	header h1 {
		font-size: 30px;
	}

	header h2 {
		font-size: 18px;
		margin-left: 25px;
	}
}