body {
	background: yellowgreen;
	margin: 0px;
	padding: 0px;
}

div {
	display: inline-block;
	width: 400px;
	height: auto;
	border: solid 1px;
	border-color: grey;
	vertical-align: top;
	margin: 15px;
}

table {
	text-align: justify;
	margin: 5px;

}

td {
	text-align: center;
	padding: 5px;
	padding-right: 10px;
}